<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Google login</title>
</head>
<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="374090037694-jj9q8563filoujm6sfk6mge7unptjdg2.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

    <script>
        function onSuccess(googleUser) {
            let profile = googleUser.getBasicProfile()
            console.log('Email: ' + profile.getEmail())
            let token = googleUser.getAuthResponse().id_token
            console.log('Token: ' + token)
        };

        function onFailure(error) {
            console.log(error)
        };

        function renderButton() {
            gapi.signin2.render('g_id_onload', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure 
            });
        };
    </script>

</body>
</html>